<div class="modal-body">

{{#if suggestedLocationName }}

  Do you mean {{ suggestedLocationName }}?            
  <button class='btn btn-primary' {{action "addNewCity"}}>Yes</button>
  <button class='btn btn-danger' {{action clearSuggestion}}>No</button>

{{else}}
  <form {{action "addNewCity" on="submit"}}>
    <table>
      <tr>
        <td style="" class="label">
          <label for='location-name'>
          </label>
        </td>
      </tr>
      <tr class="input">
        <td style="">
          {{text-field placeholder="location name" value=locationName id="location-name" autofocus="autofocus"}}
        </td>
        <td>

        </td>
      </tr>

      <tr class="instructions">
        <td>
         {{input-tip validation=locationNameValidation}}  

          <label></label>
        </td>
      </tr>
    </table>
  </form>
{{/if}}


</div>

<div class="modal-footer">
{{#unless suggestedLocationName }}
          <button class='btn btn-large btn-primary' {{action "addNewCity"}}>
            Go
          </button>
{{/unless}}
          &nbsp; <a {{action "closeModal"}}>{{i18n cancel}}</a>
</div>
