{{#unless complete}}
<div class="modal-body">
  <div>
    <div>
    </div>
  </div>

  <form {{action "createNewTopic" on="submit"}}>
    <div style="width: 100%;">
      <div>
        <div style="" class="label">
          <label for='geo-topic-title'>
          </label>
        </div>
      </div>
      <div class="input">
        <div style="">
          {{text-field placeholder="Short summary" value=topicTitle id="geo-topic-title" autofocus="autofocus"}}

           {{input-tip validation=titleValidation}}

        </div>
      </div>

      <div class="instructions">
        <div>
          <label></label>
        </div>
      </div>

      <div class="input">
        <div style="">
          {{textarea placeholder=detailsPrompt value=topicDetails id="geo-topic-details" autofocus="autofocus"}}
           {{input-tip validation=detailsValidation}}

        </div>
      </div>

    </div>
  </form>


</div>

<div class="modal-footer">
    {{#if readyToAdd}}
          <button class='btn btn-large btn-primary' {{bind-attr disabled="submitDisabled" }} {{action createNewTopic}}>
            Add
          </button>
    {{/if}}
          {{#if formSubmitted}} &nbsp; <i class='fa fa-spinner fa-spin'></i>
          {{else}} &nbsp; <a {{action closeModal}}>{{i18n cancel}}</a>
          {{/if}}
</div>
{{/unless}}
