{{#unless complete}}
<div class="modal-body">
  <div>
    <div>
    </div>
  </div>

  <form {{action "createNewTopic" on="submit"}}>
    <table>
      <tr>
        <td style="" class="label">
          <label for='topic-title'>
          </label>
        </td>
      </tr>
      <tr class="input">
        <td style="">
          {{text-field placeholder="Type in any city or town here" value=topicTitle id="topic-title" autofocus="autofocus"}}
        </td>
        <td>
        </td>
      </tr>

      <tr class="instructions">
        <td>
          <label></label>
        </td>
      </tr>

      <tr class="input">
        <td style="">
          {{textarea placeholder="Type in any city or town here" value=topicDescription id="topic-description" autofocus="autofocus"}}
        </td>
        <td>
        </td>
      </tr>

    </table>
  </form>


</div>

<div class="modal-footer">
    {{#if readyToAdd}}
          <button class='btn btn-large btn-primary' {{bind-attr disabled="submitDisabled" }} {{action createNewTopic}}>
            Add
          </button>
    {{/if}}
          {{#if formSubmitted}} &nbsp; <i class='fa fa-spinner fa-spin'></i>
          {{else}} &nbsp; <a {{action closeModal}}>{{i18n cancel}}</a>
          {{/if}}
</div>
{{/unless}}
