<div class="modal-body">
  <div>
  </div>

  <div>
    <h style="padding-bottom: 20px;">{{ model.clickedLocation.formatted_address }}</h>
    <div>
      <form {{action namedCitySelected on="submit"}}>
      <br>
                {{text-field placeholder="Place Name" value=placeName 
                id="place-name" autofocus="autofocus"}}

              <button class='btn btn-primary' style="width:22%;" 
                  title="Do you have something to say about this place? Go on then, say it..."
                  {{action namedCitySelected }}>
                  {{fa-icon comment-o label="talk label" }} Talk about this
              </button>
      <br>
         {{input-tip validation=placeNameValidation}}  
      </form>    

    </div>
    {{#if nearbyPlacesDetails}}
    <div>
      <h3 style="margin-bottom: 2%;margin-top: 2%;" >Places nearby:</h3>
    </div>
    <div>
        <ul class="nav list-stacked" style="padding: 5px 5px 5px 5px;">
          {{#each place in nearbyPlacesDetails}}
              <li>
              <a style="padding-left: 5px;" {{action searchResultSelected place}}>
              <div style="width: 77%;float: left;">
              <span>{{ place.name }},</span>
              <span>{{ place.vicinity }},</span>
              </div>
              <button class='btn btn-primary' style="" 
              title="Do you have something to say about this place? Go on then, say it..."
              >
                {{fa-icon comment-o label="talk label" }} Talk about this
              </button>
              </a> 
              
              </li>
            {{/each}}
          </ul>

    </div>
    {{/if}}
  </div>
</div>

<div class="modal-footer">
  <a {{action closeModal}}>{{i18n cancel}}</a>
</div>
