<div class="modal-body">


  <div>
    {{#if googlePlaceDetails}}
        <div style="width: 49%;float: left;">
          <div style="padding-bottom: 20px;">{{ model.location.address}}</div>
          
          {{#if googlePlaceDetails.website }}
            website: <a {{ bind-attr href=googlePlaceDetails.website }}  target="_blank" > {{ googlePlaceDetails.website }} </a>
          {{/if}}
          
        </div>
        <div style="width: 49%;float: left;">
          <img {{ bind-attr src=primaryImageUrl }}>
        </div>
    {{else}}
        <div style="width: 49%;float: left;">
          <div style="padding-bottom: 20px;">{{ model.location.address}}</div>
          
          {{#if model.location.website }}
            website: <a {{ bind-attr href=model.location.website }}  target="_blank" > {{ model.location.website }} </a>
          {{/if}}
          
        </div>
        <div style="width: 49%;float: left;">
          <img {{ bind-attr src=primaryImageUrl }}>
        </div>

     {{/if}}
  </div>
</div>

<div class="modal-footer">

  <div>

    {{#if model.posts}}
    <h4 style="text-align: center;">Posts about this place:</h4>
    {{#each model.posts itemController="group/post"}}
    <div class='item'>
      <div class='clearfix info'>
        {{#link-to 'user' user class="avatar-link"}}
        <div class='avatar-wrapper'>{{avatar user imageSize="large" extraClasses="actor" ignoreTitle="true"}}</div>{{/link-to}} {{bound-avatar-template avatar_template "small"}}

        <span>{{ name }}</span>
        <span class='time'>{{format-date path="created_at" leaveAgo="true"}}</span>
        <span class="">
          <a {{action "goToPost" this }}>go to post</a>
        </span>
        <span>

        </span>
      </div>
      <p class='excerpt'>
      </p>
    </div>
    {{/each}} 
    {{else}}
    <h4>There are no posts about this place.</h4>
    {{/if}}

  </div>

  <button class='btn btn-primary' {{action "replyWithLocation" model.location }}>
    Say something about this place
  </button>

  <a {{action "closeModal"}}>{{i18n 'cancel'}}</a>
</div>
