<div class="modal-body">
  <div>
    <h3>{{ model.location.title}}</h3>
    <h5>{{ model.location.address}}</h5>
  </div>
  <div>



  {{#if model.posts}}
  {{#each model.posts itemController="group/post"}}
    <div class='item'>
      <div class='clearfix info'>
        {{#link-to 'user' user class="avatar-link"}}<div class='avatar-wrapper'>{{avatar user imageSize="large" extraClasses="actor" ignoreTitle="true"}}</div>{{/link-to}}

{{bound-avatar-template avatar_template "small"}} 

        <span>{{ name }}</span>
        <span class='time'>{{format-date path="created_at" leaveAgo="true"}}</span>
        <span class="">
          <a {{action goToPost }} >go to post</a>
        </span>
        <span>
          
        </span>
      </div>
      <p class='excerpt'>
      {{{unbound cooked}}}
      </p>
    </div>
  {{/each}}
  {{else}}
    <h4>There are no posts about this place.</h4>
  {{/if}}

  </div>
</div>

<div class="modal-footer">
  <a {{action closeModal}}>{{i18n cancel}}</a>
</div>
