{{#unless complete}}
<div class="modal-body">
  <div>
    <div>
      {{ selectable-map action="locationSelected" defaultLocation=defaultLocation }}
    </div>
  </div>
</div>

<div class="modal-footer">
  {{#if locationObject }}
  <form>
    <table>
      <tr>
        <td style="" class="label">
          <label for='location-title'>
            What is the name for this location?
          </label>
        </td>
      </tr>
      <tr class="input">
        <td style="">
          {{text-field value=locationObject.title id="location-title" autofocus="autofocus"}}
        </td>
      </tr>

      <tr class="instructions">
        <td>
          <label>{{ locationObject.formattedAddress }}</label>
        </td>
      </tr>
    </table>
  </form>
  {{/if}}

  {{#if readyToSelect}}
  <button class='btn btn-large btn-primary' {{bind-attr disabled="submitDisabled" }} {{action addLocationToTopic}}>
    Select
  </button>
  {{/if}}
  {{#if formSubmitted}} &nbsp; <i class='fa fa-spinner fa-spin'></i>
  {{else}} &nbsp; <a {{action closeModal}}>{{i18n cancel}}</a>
  {{/if}}
</div>
{{/unless}}
