{{#unless complete}}
  <div class="modal-body">
    <div>
            <div>
              {{ selectable-map action="locationSelected" }}
            </div>

      <form>
      <table>
      <tr >
          <td style="" class="label"><label for='new-account-name'>
          Hello..
          </label></td>
      </tr>
      <tr class="input">
          <td style="">
          {{text-field value=facebookUrl id="facebook-event-url" autofocus="autofocus"}}
          &nbsp;{{input-tip validation=urlValidation}}
          </td>
      </tr>
      <tr class="instructions">
        <td><label>Full url of facebook event....</label></td>
      </tr>

      <tr class="instructions">
        <td><label>{{ locationObject.formattedAddress }}</label></td>
      </tr>




      </table>
      </form>
    </div>
  </div>

  <div class="modal-footer">

    <button class='btn btn-large btn-primary' {{bind-attr disabled="submitDisabled"}} {{action addLocationToTopic}}>
    Add
      </button>
    {{#if formSubmitted}}
      &nbsp; <i class='fa fa-spinner fa-spin'></i>
    {{else}}
      &nbsp; <a {{action closeModal}}>{{i18n cancel}}</a>
    {{/if}}
  </div>
{{/unless}}
