<div class="container">


  <h1 style="text-align:center;margin-top:10px;font-size: x-large;font-weight:normal;line-height: 40px;">

        Recent conversations about 
        {{ simple-dropdown selectionItemsBinding='citySelectionItemsWithUrls'
        action='cityChanged' newLocationAction='addLocation' currentSelectionItem=currentCitySelection }}

      <a style="padding: 8px 10px 3px 10px;" >
      </a>
    </h1>



  <div class='container'>
    {{custom-html "top"}} {{Discourse.globalNotice}} {{discourse-banner user=currentUser banner=Discourse.banner}}

    <div class="row">
      <div class="full-width">
        <div id='header-list-area'>
          Click on a location to start a conversation there:
          {{ outlet }}
        </div>
      </div>
    </div>
  </div>

  <div class='list-controls'>
    <div class="container">
      {{! outlet navigation-bar}}
    </div>
  </div>

  <div {{bind-attr class="loadingSpinner::hidden" }}>
    <div class='spinner'>{{i18n loading}}</div>
  </div>



</div>
