<div class="container">


  <h1 style="text-align:center;margin-top:10px;font-size: x-large;font-weight:normal;line-height: 40px;">

    Recent conversations about {{ simple-dropdown selectionItemsBinding='citySelectionItemsWithUrls' action='cityChanged' newLocationAction='initiateAddLocation' currentSelectionItem=currentCitySelection }}
    <small style="font-size: 70%;float:right">
{{!--       <a style="padding: 8px 10px 3px 40px;text-decoration: underline;" {{ action addLocation }} >
       search on map
      </a>
 --}}    </small>
  </h1>



  <div class='container'>
    {{custom-html "top"}} {{Discourse.globalNotice}} {{discourse-banner user=currentUser banner=Discourse.banner}}

    <div class="row">
      <div class="full-width">
        <div id='header-list-area'>
          <div class="alert alert-info" style="font-weight: normal;">Click any marker to see what is being said or click anywhere on the map to start a conversation.
            <span>
              <a style="text-decoration: underline;">
               
              </a>
            </span>
          </div>
          {{ outlet }}
        </div>
      </div>
    </div>
  </div>

  <div class='list-controls'>
    <div class="container">
      {{! outlet navigation-bar}}
    </div>
  </div>

  <div {{bind-attr class="loadingSpinner::hidden" }}>
    <div class='spinner'>{{i18n loading}}</div>
  </div>



</div>
