<div>

  <div style="" class="index-map">
      

    {{ topics-map showSearchBox=true markerSelectedAction="topicSelected" 
    geo=model.geo_key searchClickedAction="startLocationTopic"
    mapClickedAction="showExplorerModal" displayContext="indexView" markerValues=markers mapsClass="medium-maps" }}
  </div>
  <div style="" class="index-map-info">

    <div class="" style=" padding: 0px 0px 8px 14px;">


    <div>
          <div class="standalone-share-links">
            {{each cityShareLinks itemView='share-link'}}
          </div>

          <button class='btn btn-primary btn-map-for-index btn-klavado' style="" {{action showNewTopicModal  'info'}}>
            <i class="fa fa-comments"></i>
            Start conversation
          </button>
          <button class='btn btn-primary btn-map-for-index btn-klavado' style="" {{action showNewTopicModal  'question'}}>
          <i class="fa fa-info"></i>
            Ask for info
          </button>
    </div>


    <div style="float:left;margin-top:14px;">
          {{!-- <p>Klavado is like a reddit for places - it lets you find and talk about places in a simple manner.</p> --}}
{{!--     <p>Klavado is a new way of simplifying the things you would normally do with a map - like finding and sharing places. </p> --}}
    <p>Klavado is the simplest way to have a discussion about places on a map.  On one page, multiple people can add and remove places as well add notes and see what else is happening close by. </p>

    <p> If you are visiting a new city, for example, just ask your friends to create a 'klavado' of their favourite places.  You can then have conversations about these places without having to switch between different websites.</p>
    <p>The markers on the map represent recent conversations about the place marked.  You can find more conversations by searching ( {{fa-icon search label="search.title"}} in the top right menu on this page ) or by browsing this {{#link-to "discovery.top"}}list.{{/link-to}}</p>


    <p></p>
    </div>

    </div>

  </div>
</div>

<div>
            {{#if cityQuestions}}
              <div class="suggested-topics">
                <h3>{{ cityQuestionsTitle }}</h3>
                <div class='topics'>
                  {{basic-topic-list topics=cityQuestions postsAction="showTopicEntrance"}}
                </div>
                <h3>{{{view.browseMoreMessage}}}</h3>
              </div>
            {{/if}}



            {{#if content}}
              <div class="suggested-topics">
                <h3>Other conversations</h3>
                <div class='topics'>
                  {{basic-topic-list topics=otherTopics postsAction="showTopicEntrance"}}
                </div>
                <h3>{{{view.browseMoreMessage}}}</h3>
              </div>
            {{/if}}
</div>
