

  {{#if locationObject }}
  <form {{action "addLocationToTopic" on="submit"}}>
    <div class="row">      
      <div style="float:left;width:70%">
      <table>
        <tr>
          <td style="" class="label">
            <label for='location-title'>
              What is the name for this location?
            </label>
          </td>
        </tr>
        <tr class="input">
          <td style="">
            {{text-field value=locationObject.title id="location-title" autofocus="autofocus"}}
          </td>
        </tr>

        <tr class="instructions">
          <td>
            <label>{{ locationObject.address }}</label>
          </td>
        </tr>
      </table>
      </div>
      <div style="padding-top: 8%;">

        {{#if readyToSelect}}
        <button class='btn btn-large btn-primary' {{bind-attr disabled="submitDisabled" }} {{action addLocationToTopic}}>
          Select
        </button>
        &nbsp; <a {{action unsetLocationobject}}>{{i18n 'cancel'}}</a>
        {{/if}}
      </div>
    </div>

  </form>
  {{else}}
    <div>



    <input id="pac-input" class="controls" type="text"
        placeholder="Enter a location" autofocus="autofocus">


{{!--       <div style="float:left;width:50%">
        {{text-field placeholder="Search string" value=stringToSearch id="place-to-search" }}
        <button class='btn btn-primary' {{bind-attr disabled="submitDisabled" }} {{action searchForLocation}}>Find by name</button>

      </div> --}}

    </div>
  {{/if}}


  {{#unless locationObject }}
      <label>Click any location below to select it or use the search box to locate a place.</label>
  {{/unless}}


<div id="selectable-map-canvas" style="height:300px;"></div>


      <div style="display:none">
        {{text-field placeholder="City" value=cityToFind id="map-city-name" }}
        <button class='btn btn-primary' {{bind-attr disabled="submitDisabled" }} {{action changeCity}}>
          Change City
        </button>
      </div>

