<div>
  <div style="float:left;width:50%">

    {{text-field placeholder="City" value=cityToFind id="tmap-city-name" autofocus="autofocus"}}
    <button class='btn btn-primary' {{bind-attr disabled="submitDisabled" }} {{action changeCity}}>
      Go
    </button>
  </div>

  <div style="">


    {{text-field placeholder="Search string" value=stringToSearch id="tmap-placetosearch" }}
    <button class='btn btn-primary' {{bind-attr disabled="submitDisabled" }} {{action searchForLocation}}>
      Go
    </button>
  </div>

</div>

<label>Click any location below to select it or use the search box above to locate a place.</label>


<div id="topics-map-canvas" {{bind-attr class="mapsClass"}} ></div>
