<div id="topics-map-canvas" {{bind-attr class="mapsClass"}} ></div>
    <input id="tmap-pac-input" class="controls" type="text"
        placeholder="Enter a location">

{{#if showSearchBox}}
<div style="margin-top:15px">
  <div style="float:left;width:50%">

    {{text-field placeholder="name search string" value=nameStringToSearch
     autofocus="autofocus" id="tmap-nametosearch" }}

    <button class='btn btn-primary' {{bind-attr disabled="submitDisabled" }} {{action searchByName}}>
      Go
    </button>
  </div>

  <div style="">


    {{text-field placeholder="keyword search string" value=stringToSearch id="tmap-placetosearch" }}
    <button class='btn btn-primary' {{bind-attr disabled="submitDisabled" }} {{action searchByKeyword}}>
      Go
    </button>
  </div>

</div>

<label>Click any location on the map to select it or use the search boxes above to locate a place.</label>
{{/if}}

