<div class="row" style="float: left;width: 100%;margin-top:5px">

{{#if model.isLocationTopic}}

    {{#if model.hasGeo}}

      <div class="map-for-topic" style="">
      {{ topics-map displayContext="topicView" markerSelectedAction="showPlaceDetails" 
      mapClickedAction="showExplorerModalForTopic" markerValues=model.markers activePostBinding="controller.activePost" mapsClass="short-maps" geo=model.geo showSearchBox=false  }} 
      </div>

    {{else}}
    <div>Sorry, there has been an error.</div>
{{!--       <div class="map-for-topic" style="">
      {{ topics-map displayContext="topicView"  markerSelectedAction="showPlaceDetails" mapClickedAction="showExplorerModalForTopic" markerValues=model.markers activePostBinding="controller.activePost" mapsClass="short-maps"
      showSearchBox=false geo=model.geo }} 
      </div> --}}
    {{/if}}

      <div class="map-for-topic-buttons" style="">
        <div style="margin-left:15px;">

          <span class="standalone-share-links">
            {{each topicShareLinks itemView='share-link'}}

          </span>

          <button class='btn btn-primary btn-klavado btn-map-for-topic' style="" {{action showLocationSelector}}><i class="fa fa-map-marker"></i>
            Add places
          </button>

          <button class='btn btn-primary btn-klavado btn-map-for-topic' style="" {{action showInvite}}><i class="fa fa-users"></i>
              Invite your friends
          </button>

          {{#each marker in model.markers }}
            <div class='btn btn-primary  btn-map-for-topic' style="background-color:gray;padding-right: 2px;">
            <a class="view-place-btn-a" {{action showPlaceDetails marker}}>
                {{ marker.location.title }}</a>
                {{#if marker.can_edit}}
            <i {{action showEditorModalForTopic marker }} class="fa fa-pencil  view-place-btn-i"></i>
                {{/if}}
            </div>
          {{/each}}

        </div>
      </div>


{{!--     {{else}}
      <div>
          <h2 style="line-height: 32px;margin-bottom:5px;">
          <small> </small>
                <button class='btn btn-primary btn-klavado' style="float:none" {{action showLocationSelector}}>
                  Add places to this conversation
                </button>

      <button class='btn btn-primary btn-klavado' style="float:none" {{action showInvite}}>
          Invite your friends
      </button>

        </h2>
      </div>

      <div class="row" style="float: left;width: 100%;">
        
          {{ topics-map showSearchBox=false 
           markerSelectedAction="showPlaceDetails" mapClickedAction="showExplorerModalForTopic" 
           markerValues=model.markers activePostBinding="controller.activePost" mapsClass="short-maps"
            geo=model.geo
          }}

      </div>

    {{/if}} --}}

{{else}}
    <div>
        <h2 style="line-height: 32px;margin-bottom:5px;">
        <small> </small>
              <button class='btn btn-primary btn-klavado' style="float:none" {{action showLocationSelector}}>
                Put this conversation on the map
              </button>

      </h2>
    </div>

{{/if}}


</div>