<div class="row" style="float: left;width: 100%;margin-top:5px">

{{#if model.isLocationTopic}}

    {{#if model.hasLocation}}

      <div class="map-for-topic" style="float: left;width: 80%;">
      {{ topics-map displayContext="topicView" markerSelectedAction="showPlaceDetails" mapClickedAction="replyWithLocation" markerValues=model.markers activePostBinding="controller.activePost" mapsClass="short-maps" }} 
      </div>

    {{else}}
      <div class="map-for-topic" style="float: left;width: 80%;">
      {{ topics-map displayContext="topicView"  markerSelectedAction="showPlaceDetails" mapClickedAction="replyWithLocation" markerValues=model.markers activePostBinding="controller.activePost" mapsClass="short-maps"
      showSearchBox=false geo=model.geo }} 
      </div>
    {{/if}}

      <div class="map-for-topic-buttons" style="float: left;width: 20%;">
        <h2 style="line-height: 32px;margin-bottom:5px;">

          <div class="standalone-share-links">
            {{each topicShareLinks itemView='share-link'}}

          </div>

          <button class='btn btn-primary btn-klavado btn-map-for-topic' style="text-align: left;float: right;width: 90%;" {{action showLocationSelector}}><i class="fa fa-map-marker"></i>
            Add places
          </button>

          <button class='btn btn-primary btn-klavado btn-map-for-topic' style="text-align: left;float: right;width: 90%;margin-top:5px" {{action showInvite}}><i class="fa fa-users"></i>
              Invite your friends
          </button>


        </h2>
      </div>


{{!--     {{else}}
      <div>
          <h2 style="line-height: 32px;margin-bottom:5px;">
          <small> </small>
                <button class='btn btn-primary btn-klavado' style="float:none" {{action showLocationSelector}}>
                  Add places to this conversation
                </button>

      <button class='btn btn-primary btn-klavado' style="float:none" {{action showInvite}}>
          Invite your friends
      </button>

        </h2>
      </div>

      <div class="row" style="float: left;width: 100%;">
        
          {{ topics-map showSearchBox=false 
           markerSelectedAction="showPlaceDetails" mapClickedAction="replyWithLocation" 
           markerValues=model.markers activePostBinding="controller.activePost" mapsClass="short-maps"
            geo=model.geo
          }}

      </div>

    {{/if}} --}}

{{else}}
    <div>
        <h2 style="line-height: 32px;margin-bottom:5px;">
        <small> </small>
              <button class='btn btn-primary btn-klavado' style="float:none" {{action showLocationSelector}}>
                Put this conversation on the map
              </button>

      </h2>
    </div>

{{/if}}


</div>