<div class="row" style="float: left;width: 100%;">

{{#if model.isLocationTopic}}

    {{#if model.hasLocation}}
      <div>
          <h2 style="line-height: 32px;margin-bottom:5px;">
{{!--           <small>Conversation started with : </small>
 --}}                <button class='btn btn-primary btn-klavado' style="float:none" {{action showLocationSelector}}>
                  Add more places
                </button>

      <button class='btn btn-primary btn-klavado' style="float:none" {{action showInvite}}>
          Invite your friends
      </button>

        </h2>
      </div>


      <div class="row" style="float: left;width: 100%;">
        
      {{ topics-map  markerSelectedAction="showPlaceDetails" mapClickedAction="replyWithLocation" markerValues=model.markers activePostBinding="controller.activePost" mapsClass="short-maps" }} 
      </div>

    {{else}}
      <div>
          <h2 style="line-height: 32px;margin-bottom:5px;">
          <small> </small>
                <button class='btn btn-primary btn-klavado' style="float:none" {{action showLocationSelector}}>
                  Add places to this conversation
                </button>

      <button class='btn btn-primary btn-klavado' style="float:none" {{action showInvite}}>
          Invite your friends
      </button>

        </h2>
      </div>

      <div class="row" style="float: left;width: 100%;">
        
          {{ topics-map showSearchBox=false 
           markerSelectedAction="showPlaceDetails" mapClickedAction="replyWithLocation" 
           markerValues=model.markers activePostBinding="controller.activePost" mapsClass="short-maps"
            geo=model.geo
          }}

      </div>

    {{/if}}

{{else}}
    <div>
        <h2 style="line-height: 32px;margin-bottom:5px;">
        <small> </small>
              <button class='btn btn-primary btn-klavado' style="float:none" {{action showLocationSelector}}>
                Put this conversation on the map
              </button>

      </h2>
    </div>

{{/if}}


</div>