<div class="modal-body">

  <div>
    <h2>Edit details:</h2>
    {{#if geoPlaceDetails}} 
      {{ geo-place-control geoPlaceDetails=geoPlaceDetails googlePlaceBinding="controller.googlePlace"  searchForPlaceAction="searchForPlace" confirmPlaceDetailsAction="confirmPlaceDetails"
      removePlaceAction="removePlace" }}

    {{else}} 


    {{/if}}
  </div>

  <div>
    <h2 style="margin-top:15px;margin-bottom:15px;">Or search for other places:</h2>
        <div class="row">
                {{text-field placeholder="search keyword" value=searchKeyword 
              autofocus="autofocus"}}
                <button class='btn btn-primary' style="" {{action 'searchByKeyword'}}>
                  {{fa-icon search label="" }} Search by Keyword
                </button>
        </div>

        <div class="row">
                <button class='btn btn-primary' style="" {{action 'searchNearby' }}>
                  {{fa-icon search label="" }} Search nearby
                </button>
        </div>

        {{#if nearbyPlacesDetails}}
            <div>
              <h3 style="margin-bottom: 2%;margin-top: 2%;">Places nearby:</h3>
            </div>
            <div>
              <ul class="nav list-stacked" style="padding: 5px 5px 5px 5px;">
                {{#each place in nearbyPlacesDetails}}
                <li>
                  <a style="padding-left: 5px;" {{action 'correctSearchResultSelected' place}}>
                    <div style="width: 77%;float: left;">
                      <span>{{ place.name }},</span>
                      <span>{{ place.vicinity }},</span>
                    </div>
                    <button class='btn btn-primary' style="" title="">
                      {{fa-icon thumbs-o-up label="talk label" }} This is it
                    </button>
                  </a>

                </li>
                {{/each}}
              </ul>
            </div>
        {{/if}} 
  </div>

</div>

<div class="modal-footer">

  {{!--
  <button class='btn btn-primary' {{action replyWithLocation model.location }}>
    Say something about this place
  </button>
  --}}
  <a {{action 'closeModal'}}>{{i18n 'cancel'}}</a>
</div>
