<div class="container">


<div class="row">  
  <h1 style="margin-bottom:10px;font-size: x-large;font-weight:normal;line-height: 40px;">

    Place details

    <small style="font-size: 55%;margin-left:3%"> 
    <a {{ action showAddCityModal }}>Click here for more locations.</a>   </small>

  </h1>

  <div>{{ model.title }}</div>
  <div>{{ model.address }}</div>
  <div>{{ model.city }}</div>
  <div>{{ model.country }}</div>
  <div>{{ model.gplace_id }}</div>

</div>






</div>
