<div class="container">


<div class="row">  
  <h1 style="margin-bottom:10px;font-size: x-large;font-weight:normal;line-height: 40px;">

    Recent conversations about {{ simple-dropdown selectionItemsBinding='citySelectionItemsWithUrls' 
    action='cityChanged' newLocationAction='showAddCityModal' removeItemAction='removeLocation' currentSelectionItem=currentGeoKey }}


    <small style="font-size: 55%;margin-left:3%"> 
    <a {{ action showAddCityModal }}>Click here for more locations.</a>   </small>

  </h1>
</div>




  <div class='container'>
    {{custom-html "top"}} {{Discourse.globalNotice}} {{discourse-banner user=currentUser banner=Discourse.banner}}

    <div class="row">
      <div class="full-width">
        <div id='header-list-area'>
          {{ outlet }}
        </div>
      </div>
    </div>

    <div>
      <div>          
      </div>
    </div>
  </div>





</div>
